[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6.5"


[packages]

"psycopg2-binary" = "*"
numpy = '==1.14.2'
django-heroku = "*"
gunicorn = "*"
scipy = '==0.19.0'
matplotlib = '==2.2.2'


[dev-packages]

